/*
Styling for the landing page
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400&display=swap');


html,
body {

  font-family: 'Roboto', 'Open Sans', 'Sans-Serif', 'Ubuntu';
  margin: 0!important;
  padding: 0!important;
  overflow-x: hidden;
  letter-spacing: 0.2em;
  font-smooth: antialiased;
  scroll-behaviour: smooth;
  scroll-snap-type: mandatory;
  zoom: 100%;
}


 .scrollCue {
          color: #6f7c80;
          font-size: .85em;
      }

 h1 {
        font-family: 'Open Sans';
        color: #ffffff;
        margin-bottom: .150em;
        padding-bottom: 0;
        line-height: 1em;
        font-weight: 500;
        font-size: 3em;
      }

      #introText {
        width: 40em;
        color: #ffffff;
        margin-top: 3.5em;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        line-height: 1.65em;
        word-spacing: .15em;
      }

      .btn {
        letter-spacing: .1em;
        text-transform: uppercase;
      }

      .btn:hover {
        color: #48c2c8;
      }

      .buyerbtn {
          color: #fff;
          width: 12em;
          transition: .5s;
          margin-right: 1.5em;
          border-radius: 3em;
          background-color: rgb(50,58,107);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
      }

      .buyerbtn:hover {
        border: 1px solid rgb(50,58,107);
        background-color: #fff;
        color: rgb(50,58,107);
        box-shadow: none;
      }

      .inlineCTA {
        margin-top: 3.5em;
      }

      #logo_sm {
        margin-left: 2.5em;
      }

      .secondary_icons {
        margin-right: .5em;
        margin-left: .3em;
        color: rgb(50,58,107);
        width: 1em;
      }

      .textLINK {
        line-height: 3em;
        color: rgb(72,194,200);
        text-transform: uppercase;
        text-decoration: none;
        transition: .8s;
        font-size: .95em;
      }

      .textLINK:hover {
        color: rgb(50,58,107);
        text-decoration: none!important;
      }

      .header {
        background: rgb(26,41,128);
        background: linear-gradient(290deg, rgba(26,41,128,1) 0%, rgba(38,160,218,1) 100%);
        background-position: right;
        background-size: cover;
        min-width: 100%!important;
        height: 100vh;
        position: static;
        left: 0;
        top: 0%;
      }

      .intro {

        margin-top: 15%;
        text-align: center;
      }
      .header_image {
        align-content: center;
        text-align: center;
        margin-top: 8%;
      }
