/*
Styling for the landing page
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400&display=swap');


html,
body {

  font-family: 'Roboto', 'Open Sans', 'Sans-Serif', 'Ubuntu';
  margin: 0!important;
  padding: 0!important;
  overflow-x: hidden;
  letter-spacing: 0.2em;
  font-smooth: antialiased;
  scroll-behaviour: smooth;
  scroll-snap-type: mandatory;
  zoom: 100%;
}


 .scrollCue {
          color: #6f7c80;
          font-size: .85em;
      }
 .fontAwesome-caret {
   width: .6em;
   filter: invert(100%);
 }

 h1 {
        font-family: 'Open Sans';
        color: #ffffff;
        margin-bottom: .150em;
        padding-bottom: 0;
        line-height: 1em;
        font-weight: 500;
        font-size: 3em;
      }

      #introText {
        width: 30em;
        color: #ffffff;
        margin-top: 3.5em;
      }

      p {
        line-height: 1.65em;
        word-spacing: .15em;
      }

      .btn {
        letter-spacing: .1em;
        text-transform: uppercase;
      }

      .btn:hover {
        color: #48c2c8;
      }

      .buyerbtn {
          color: rgb(50,58,107);
          width: 12em;
          transition: .5s;
          margin-right: 1.5em;
          border-radius: 3em;
          background-color: #fff;
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
      }

      .buyerbtn:hover{
        border: 1px solid #fff;
        background-color: #fff0;
        color: #fff;
        box-shadow: none;
      }

      .inlineCTA {
        margin-top: 3.5em;
      }

      #logo_sm {
        margin-left: 2.5em;
      }

      .secondary_icons {
        margin-right: .5em;
        margin-left: .3em;
        color: rgb(50,58,107);
        width: 1em;
      }

      .textLINK {
        line-height: 3em;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        transition: .8s;
        font-size: .95em;
      }

      .textLINK:hover {
        color: rgb(50,58,107);
        text-decoration: none!important;
      }

      .header {
        background-image: url("/head_image.png");
        background-attachment:fixed;
        background-position: center;
        background-size: cover;
        min-width: 100%!important;
        height: 100vh;
        position: static;
        left: 0;
        top: 0%;
      }

      .intro {
        margin-top: 15%;
        margin-left: 4em;
        text-align: left;
      }

/* formating for mobile device screens */

@media only screen and (max-width: 1024px) {
  .header {
    min-width: 100%!important;
    height: 100vh;
    position: static;
    left: 0;
    top: 0;
  }
  h1 {
    font-size: 2.5em;
  }
  .intro {
    width: 100%!important;
    margin-top: 20%;
    margin-left: 4em;
    text-align: left;
  }
}
@media only screen and (max-width: 996px) {

  .header {
    background: rgb(50,58,107);
    background: linear-gradient(61deg, rgba(50,58,107,1) 0%, rgba(72,194,200,1) 47%);
    min-width: 100%!important;
    height: 100vh;
    position: static;
    left: 0;
    top: 0;
  }
  h1 {
    font-size: 2.5em;
  }
  .intro {
    width: 100%!important;
    margin-top: 20%;
    margin-left: 4em;
    text-align: left;
  }
}

@media only screen and (max-width: 540px) {
    .intro {
      align-content: center;
      text-align: center;
      margin-left: 0;
    }
    .buyerbtn {
      width: 90%;
      margin-right: .5em;
      margin-left: .5em;
    }
    .textLINK {
      margin-left: auto;
      margin-right: auto;
    }
    #introText {
      width: auto;
    }
}
